.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 12px 20px 14px;

  color: $color-tangaroa;

  background-color: $color-alice-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;

    @include active {
      opacity: 0.6;
    }
  }

  @include active {
    opacity: 0.6;
  }
}
