.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  max-width: 20%;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;

  @include vp-767 {
    max-width: unset;
    width: 100%;
    justify-content: flex-start;
  }
}

.social__item {
  margin-left: 17px;

  @include vp-1023 {
    margin-left: 13px;
  }

  @include vp-767 {
    margin-left: 0;

    &:not(:last-of-type) {
      margin-right: 12px;
    }
  }
}

.social__link {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  padding: 3px;

  @include hover-focus {
    svg {
      fill: $color-sunglow;
    }
  }

  @include active {
    opacity: 0.8;
  }

  @include vp-1023 {
    width: 16px;
    height: 16px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
